<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EPCarpool | Login</title>
  <link href="./bulma.min.css" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/16ae8e710d.js" crossorigin="anonymous"></script>

  <link href="./style.css" rel="stylesheet" type="text/css" />
  <!--Get your code at fontawesome.com-->
  <link rel="icon" href="favicon.png" type="image/x-icon">
</head>

<body>

  <main>
    <% if (error) { %>
      <article class="message is-danger" id="error">
        <div class="message-header">
          <p>Warning</p>
          <button class="delete" aria-label="delete" onclick="const errorElement = document.getElementById('error');
            errorElement.remove();"></button>
        </div>
        <div class="message-body">
          <%= error %>
        </div>
      </article>
      <% } %>

        <% if (message) { %>
          <article class="message is-success" id="error">
            <div class="message-header">
              <p>Success</p>
              <button class="delete" aria-label="delete" onclick="const successElement = document.getElementById('error');
              successElement.remove();"></button>
            </div>
            <div class="message-body">
              <%= message %>
            </div>
          </article>
          <% } %>

            <article id="signin" class="panel is-link vertical-center">
              <img id="topLogo" src="EPS Logo - Transparent-4.png
          " alt="" width="70px" class="signin-logo-top">
              <p class="panel-heading signin-panel-heading">
                <img id="bottomLogo" src="EPS Logo - Transparent-4.png
            " alt="" width="60px" class="signin-logo-bottom">
                Log in to EPCarpool
              </p>

              <div class="panel-block signin-description">
                <h1 class="signin-description">
                  The one place to keep track of all EPS events. Create and sign up for carpools with ease.
                </h1>
              </div>

              <button class="button is-fullwidth is-link is-outlined signin-button"
                id="sign-in" style="margin: 8px 8px; width: calc(100% - 16px);">
                @EASTSIDEPREP.ORG LOGIN
              </button>

            </article>
            <!-- <p class="has-text-centered" style="top: calc(100% - 40px); width: 100%; bottom: 0px; position: absolute;">Don't have an account? <a href="/signup">Sign up here</a></p> -->

  </main>
  <script type="module" src="./signin.js"></script>
</body>

</html>
